<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">FlaskBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <div class="row">
        <div class="col-lg-6">
            
            <div id="includeMap"></div>
            
            <!-- Do not include map using img - then it can't be edited using css -->
            <!--
                <img src="{{url_for('static', filename='map.svg')}}"/>
            -->




            







        </div>
        <div class="col-lg-6">

            <form method="POST" action="" id="move_people_form">
                <div class="slidecontainer">
                    <input type="range" min="-100" max="100" value={{move_people_value}} class="slider" id="move_people_slider" name="move_people_slider_name">            
                    <p>Value: <span id="move_people_value_span"></span></p>
                </div>
            </form>
        </div>
    </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>

        $(document).ready(function(){

            // Include map svg
            $("#includeMap").load("{{url_for('static', filename='map.svg')}}"); 

            var move_people_slider = document.getElementById("move_people_slider");

            // Submit slider
            move_people_slider.onmouseup = function () {
                // document.getElementById("move_people_form").submit();
                var move_people_value = $(this).val();
                console.log(move_people_value);

                $.ajax({
                    url: "/test2",
                    type: "post",
                    data: $('#move_people_form').serialize(),
                    success: function(response) {
                        console.log("success")
                        $("#move_people_value_span").html(response);
                        $("#PA").css("fill","#0000FF");
                    },
                    error: function(xhr) {
                        console.log("error")
                        //Do Something to handle error
                    }
                });
            }
        });

    </script>

  </body>
</html>