{% extends 'base.html' %}

{% block content %}
    
{% block title %} 
<h1> What's my vote worth? </h1> 
<h4 style="color: #949494;"> Your state's voting power in the electoral college </h4> 

<div class="row">

    <!-- Left row -->
    <div class="col-lg-6">
        
        <div id="includeMap"></div>
        <br />

        <!-- Do not include map using img - then it can't be edited using css -->
        <!--
            <img src="{{url_for('static', filename='map.svg')}}"/>
        -->

        <div class="row align-items-end">
            <div class="col-sm-6">
                <h3>Biggest vote fraction*:</h3>
                <h1>0.1</h1>
                <h7>California</h7>
            </div>
            <div class="col-sm-6">
                <h3>Smallest vote fraction*:</h3>
                <h1>18</h1>
                <h7>Wyoming</h7>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-12">
                <p style="color: #B3B3B3; font-size: 12px;">
                    *A fraction of 1 is your voting power if the popular vote were used to determine the US president, 
                    i.e. if there were no electoral college, 
                    i.e. 1/(population of the United States) ~ 1/(309 million). 
                    See <a href="about">about</a> for more information.</p>
            </div>
        </div>

    </div>
    
    <br />

    <!-- Right row -->
    <div class="col-lg-6">
    
        <form method="POST" action="" id="move_people_form">

            <hr/>

            <!-- State choose -->
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <h3>State:</h3>
                </div>
                <div class="col-sm-9">
                    <select name="state_detail" id="state_detail_select" data-live-search="true"></select>
                </div>
            </div>

            <!-- State detail -->
            <br />
            <div class="row align-items-end">
                <div class="col-sm-4">
                    <h1>0.1</h1>
                    <h7>vote fraction*</h7>
                </div>
                <div class="col-sm-4">
                    <h4>18</h4>
                    <h7>electoral votes</h7>
                </div>
                <div class="col-sm-4">
                    <h4>30</h4>
                    <h7>million people</h7>
                </div>
            </div>
            <br />

            <h7>US Population (fixed): 309 million people</h7> <br />
            <h7>No. electoral votes (fixed): 538</h7> <br /> <br />

            <hr/>

            <h3>Move population:</h3>

            <div class="row">
                <div class="col-sm-6">
                    <h7>From:</h7><br />
                    <select name="state_move_from" id="state_move_from_select" data-live-search="true"></select>
                    
                    <br /><br />
                    <div class="row align-items-end">
                        <div class="col-sm-4">
                            <h4>0.1</h4>
                            <h7>vote fraction*</h7>
                        </div>
                        <div class="col-sm-4">
                            <h4>18</h4>
                            <h7>electoral votes</h7>
                        </div>
                        <div class="col-sm-4">
                            <h4>30</h4>
                            <h7>million people</h7>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <h7>To:</h7><br />
                    <select name="state_move_to" id="state_move_to_select" data-live-search="true"></select>

                    <br /><br />
                    <div class="row align-items-end">
                        <div class="col-sm-4">
                            <h4>0.1</h4>
                            <h7>vote fraction*</h7>
                        </div>
                        <div class="col-sm-4">
                            <h4>18</h4>
                            <h7>electoral votes</h7>
                        </div>
                        <div class="col-sm-4">
                            <h4>30</h4>
                            <h7>million people</h7>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row align-items-start">
                <div class="col-sm-8">
                    <h7>Percentage of people to move:</h7>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="100" value={{move_people_value}} class="slider" id="move_people_slider" name="move_people_slider_name">            
                    </div>
                </div>
                <div class="col-sm-2">
                    <h3><span id="move_people_value_span"></span></h3>
                    <h7>percent</h7>
                </div>
                <div class="col-sm-2">
                    <h3>0</h3>
                    <h7>million people</h7>
                </div>
            </div>

            <br />
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- bootstrap-select -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>

<script>

    $(document).ready(function(){
        var move_people_slider = document.getElementById("move_people_slider");

        // Include map svg
        $("#includeMap").load("{{url_for('static', filename='map.svg')}}"); 

        // Fill out selectors
        $.ajax({
            url: "/get_list_of_states",
            type: "post",
            success: function(response) {
                $("#state_detail_select").html(response);
                $("#state_move_from_select").html(response);
                $("#state_move_to_select").html(response);

                $('select').selectpicker();
            },
            error: function(xhr) {
                console.log("error")
                //Do Something to handle error
            }
        });

        // Color map
        function reload(move_people_value) {
            $.ajax({
                    url: "/move_people",
                    type: "post",
                    data: $('#move_people_form').serialize(),
                    success: function(response) {

                        // Skip updating if the slider has changed more
                        if (move_people_slider.value != move_people_value) {
                            return;
                        }

                        console.log("success")
                        console.log(response)

                        // Fill out colors
                        for (let [key, value] of Object.entries(response)) {
                            console.log(key + " -> " + value);
                            $(key).css("fill",value);
                        };

                        $("#move_people_value_span").html(move_people_value);
                    },
                    error: function(xhr) {
                        console.log("error")
                        //Do Something to handle error
                    }
                });
        }

        // Submit slider
        move_people_slider.addEventListener('input', function () {

            var move_people_value = move_people_slider.value;
            $("#move_people_value_span").html(move_people_value);

            // Wait 0.1s in case you're moving the slider really fast
            setTimeout(() => {

                // Skip updating if the slider has changed more
                if (move_people_slider.value != move_people_value) {
                    return;
                }

                reload(move_people_value);
            }, 100);

        }, false);

        // Trigger map by "clicking" it
        reload(0);
    });

</script>

{% endblock %}

{% endblock %}